[submodule "tinysh"]
	path = tinysh
	url = https://github.com/pudjamansyurin/tinysh-fork
[submodule "stm32f4xx-serial"]
	path = stm32f4xx-serial
	url = https://github.com/pudjamansyurin/stm32f4xx-serial
